<script>
export default {
  props: ["title"],
  data() {
    return {
      rowCount: 1,
      rowData: [{ location: null, type: null, qty: 0 }],

      wallHeaders: ["Location", "Type", "Qty", "Amount"],
      balconyHeaders: ["Location", "Handrail Type", "Qty", "Amount"],
      otherHeaders: ["Location", "Column", "Qty", "Amount"],

      dropDown: [1, 2, 3, 4, 5],
    };
  },
  methods: {
    addRow() {
      this.rowCount += 1;
      this.rowData.push({ location: null, type: null, qty: 0 });
    },
    removeRow() {
      this.rowCount > 1 ? (this.rowCount -= 1) : null;
    },
    clearAll() {
      this.rowCount = 1;
    },
  },
  computed: {
    displayHeaders() {
      if (this.title == "Wall") return this.wallHeaders;
      if (this.title == "Balcony") return this.balconyHeaders;
      if (this.title == "Others") return this.otherHeaders;

      // FIX THIS
      return this;
    },
  },
};
</script>
<template>
  <v-container class="outline rounded-lg my-10">
    <!-- TITLE & BUTTONS -->
    <v-container class="mb-2 customBG">
      <v-row class="px-5 py-1 white--text align-center">
        <v-col class="pa-1 text-h6 font-weight-bold">{{ title }}</v-col>
        <v-col class="pa-0 black--text d-flex justify-end align-center">
          <!-- TODO: CHANGE BUTTON ICONS -->
          <v-btn dark icon small @click="addRow()">+</v-btn>
          <v-btn dark icon small @click="removeRow()">-</v-btn>
          <v-btn dark icon small @click="clearAll()">x</v-btn>
        </v-col>
      </v-row>
    </v-container>

    <!-- HEADERS -->
    <v-container class="customBG">
      <v-row class="white--text align-center text-center">
        <!-- TODO: CHANGE HEADER VALUES -->
        <v-col v-for="(header, index) in displayHeaders" :key="index" class="pa-1">{{
          header
        }}</v-col>
      </v-row>
    </v-container>

    <!-- DYNAMIC ROWS -->
    <v-container class="">
      <v-row
        v-for="n in rowCount"
        :key="n"
        class="dynamicHover outline-rows white--text align-center text-center"
      >
        <v-col class="px-2 py-2 d-flex align-center">
          <span class="mr-2 pt-1 grey--text text-subtitle-2">{{ n }}</span>
          <v-autocomplete
            v-model="rowData[n - 1].location"
            :items="dropDown"
            dense
            solo-inverted
            flat
            hide-details
          />
        </v-col>
        <v-col class="px-2 py-2">
          <v-autocomplete
            v-model="rowData[n - 1].type"
            :items="dropDown"
            dense
            solo-inverted
            flat
            hide-details
          />
        </v-col>
        <v-col class="px-2 py-2">
          <v-text-field
            v-model="rowData[n - 1].qty"
            type="number"
            min="0"
            value="0"
            class="centered-input"
            dense
            solo-inverted
            flat
            hide-details
            clearable
          />
        </v-col>
        <v-col class="px-2 py-2 d-flex align-center">
          <v-text-field
            class="centered-input-readonly"
            value="0"
            dense
            solo-inverted
            flat
            hide-details
            readonly
          />
          <v-btn dark icon x-small class="red ml-2">x</v-btn>
        </v-col>
      </v-row>
    </v-container>

    <!-- TOTAL -->
    <v-container class="mt-2">
      <v-row class="align-center customBG text-center outline-total">
        <v-col cols="9" class="pa-1 white--text text-subtitle-1">Total Amount</v-col>
        <v-col cols="3" class="py-0 px-4 white">
          <v-text-field
            class="centered-input-readonly font-weight-bold"
            value="0"
            dense
            solo-inverted
            flat
            hide-details
            readonly
          />
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<style scoped>
.customBG {
  background-color: #148f77;
}
.outline {
  border: 2px solid rgb(202, 202, 202);
}
.outline-rows {
  border: 2px solid #148f77;
  border-top: none;
}
.outline-total {
  border: 2px solid #148f77;
}
.centered-input >>> input {
  text-align: center;
  margin-left: 40px;
}
.centered-input-readonly >>> input {
  text-align: center;
}

.dynamicHover:hover {
  background-color: rgb(243, 243, 243);
}
</style>
