<script>
import BankinView from "./BankinView.vue";

export default {
  components: { BankinView },
};
</script>
<template>
  <v-container class="">
    <BankinView title="Wall" />
    <BankinView title="Balcony" />
    <BankinView title="Others" />
  </v-container>
</template>

<style scoped></style>
